input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  body{
      background-color:aliceblue;
      margin-left: auto;
      margin-right: auto;
      padding-right: 300px;
      padding-left: 300px;
      padding-top: 100px;
      padding-top: 100px;
      }
    
    #valkommen{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    #logga_ut{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #error{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
    }
